<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    internalLogFile="d:\internal_log_file.txt">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
    <targets>
      <target name="Info" xsi:type="File" fileName="${logDirectory}/LogFile.txt"/>
    
       <!-- write log message to database -->
    <target xsi:type="Database" name="db">
      <!-- SQL command to be executed for each entry -->
      <commandText>INSERT INTO [LogEntries](TimeStamp, Milliseconds, Message, Level, Logger, Method, IsFault) VALUES(getdate(), @Milliseconds, @msg, @level, @logger, @Method, @IsFault)</commandText>

      <!-- parameters for the command -->
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@Milliseconds" layout="${event-properties:item=Milliseconds}" />
      <parameter name="@Method" layout="${event-properties:item=Method}" />
      <parameter name="@IsFault" layout="${event-properties:item=IsFault}" />

      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>Data Source=192.168.1.23;Initial Catalog=WorkFlowManagerDB;Persist Security Info=True;User ID=pts;Password=2583094</connectionString>

    </target>
    
    </targets>

    <rules>
      <logger name="Info" minlevel="Info" writeTo="Info" />
      <logger name="Transactions" minlevel="Info" writeTo="db" />
    </rules>
  </nlog>
</configuration>