<?xml version="1.0" encoding="utf-8"?>
<!--
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="6000" maxRequestLength="104857600" />
    <customErrors mode="Off" />
    <!--<identity impersonate="true" userName="osama.gamal@ccasual.loc" password="og@2013" />-->
  </system.web>
  <connectionStrings>
    <!--live-->
    
    <add name="WorkFlowManagerDBEntities" connectionString="metadata=res://*/Model.CCWMFEntites.csdl|res://*/Model.CCWMFEntites.ssdl|res://*/Model.CCWMFEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.23;Initial Catalog=WorkFlowManagerdb;Persist Security Info=True;User ID=pts;Password=2583094;MultipleActiveResultSets=True;Connection Timeout=0;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ax2009_ccEntities" connectionString="metadata=res://*/Model.AxEntities.csdl|res://*/Model.AxEntities.ssdl|res://*/Model.AxEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.23;initial catalog=ax2009_cc;persist security info=True;user id=pts;password=2583094;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ccnewEntities" connectionString="metadata=res://*/Model.CCNewEntities.csdl|res://*/Model.CCNewEntities.ssdl|res://*/Model.CCNewEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.15,1036;Initial Catalog=Ccnew;Persist Security Info=True;User ID=pts;Password=2583094;MultipleActiveResultSets=True;Connect Timeout=0;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="configurationEntities" connectionString="metadata=res://*/Model.ConfigrationsModel.csdl|res://*/Model.ConfigrationsModel.ssdl|res://*/Model.ConfigrationsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.23;initial catalog=configuration;persist security info=True;user id=pts;password=2583094;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TimeAttEntities" connectionString="metadata=res://*/Model.TimeAttEntities.csdl|res://*/Model.TimeAttEntities.ssdl|res://*/Model.TimeAttEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.23;initial catalog=TimeAtt;persist security info=True;user id=pts;password=2583094;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/DataLayer.WorkFlowManagerDBModel.csdl|res://*/DataLayer.WorkFlowManagerDBModel.ssdl|res://*/DataLayer.WorkFlowManagerDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.23;initial catalog=WorkFlowManagerDB;persist security info=True;user id=pts;password=2583094;multipleactiveresultsets=True;connect timeout=0;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PayrollEntities" connectionString="metadata=res://*/Model.Payroll.csdl|res://*/Model.Payroll.ssdl|res://*/Model.Payroll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.23;initial catalog=Payroll;persist security info=True;user id=pts;password=2583094;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
    
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://erpts.ccasual.loc:555/EmployeePayrollService.svc" binding="customBinding" bindingConfiguration="CustomBinding_EmployeePayrollService" contract="ServiceReference1.EmployeePayrollService" name="CustomBinding_EmployeePayrollService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="ServiceWithMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
       <behavior name="RIASvcBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="CCWFM.Web.Service.CRUD_ManagerService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CustomBinding_EmployeePayrollService" closeTimeout="01:25:00"
          openTimeout="01:25:00" receiveTimeout="01:25:00" sendTimeout="01:25:00">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CCWFM.Web.Service.Operations.PurchasePlan.PurchasePlan.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.Operations.WarehouseOp.WarehouseService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CCWFM.Web.Service.WarehouseOp.WarehouseService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.RouteCard.RouteCardService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.Att.AttService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.LookupData.LookupData.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.LkpData.LkpData.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.LkpData.LkpData.customBinding1"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.Dyeing.DyeingService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.Production.ProductionService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.AssistanceOp.AssistanceService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.BankStatOp.BankStatService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.BankDepositOp.BankDepositService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.ContractOp.ContractService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.AuthOp.AuthService.customBinding0"
          closeTimeout="10:25:00" openTimeout="10:25:00" receiveTimeout="10:25:00"
          sendTimeout="10:25:00">
          <binaryMessageEncoding maxReadPoolSize="2147483646" maxWritePoolSize="2147483646"
            maxSessionSize="2147483646">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
            maxBufferSize="2147483646" transferMode="Buffered" />
        </binding>
        <binding name="CCWFM.Web.Service.StyleService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CCWFM.Web.Service.Service.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CCWFM.Web.Service.UploadStyleImages.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="CCWFM.Web.Service.CRUD_ManagerService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.CRUD_ManagerService.customBinding0"
          contract="CCWFM.Web.Service.CRUD_ManagerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceWithMetadata" name="CCWFM.Web.Service.Operations.GlOperations.GlService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.CRUD_ManagerService.customBinding0"
          contract="CCWFM.Web.Service.Operations.GlOperations.GlService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.Operations.PurchasePlan.PurchasePlan">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.Operations.PurchasePlan.PurchasePlan.customBinding0"
          contract="CCWFM.Web.Service.Operations.PurchasePlan.PurchasePlan" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.Operations.WarehouseOp.WarehouseService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.Operations.WarehouseOp.WarehouseService.customBinding0"
          contract="CCWFM.Web.Service.Operations.WarehouseOp.WarehouseService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.WarehouseOp.WarehouseService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.WarehouseOp.WarehouseService.customBinding0"
          contract="CCWFM.Web.Service.WarehouseOp.WarehouseService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.RouteCard.RouteCardService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.RouteCard.RouteCardService.customBinding0"
          contract="CCWFM.Web.Service.RouteCard.RouteCardService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.Att.AttService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.Att.AttService.customBinding0"
          contract="CCWFM.Web.Service.Att.AttService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.LkpData.LkpData">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.LkpData.LkpData.customBinding1"
          contract="CCWFM.Web.Service.LkpData.LkpData" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.Dyeing.DyeingService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.Dyeing.DyeingService.customBinding0"
          contract="CCWFM.Web.Service.Dyeing.DyeingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.Production.ProductionService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.Production.ProductionService.customBinding0"
          contract="CCWFM.Web.Service.Production.ProductionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.AssistanceOp.AssistanceService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.AssistanceOp.AssistanceService.customBinding0"
          contract="CCWFM.Web.Service.AssistanceOp.AssistanceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="x" behaviorConfiguration="web" binding="webHttpBinding"
          contract="CCWFM.Web.Service.AssistanceOp.AssistanceService" />
      </service>
      <service name="CCWFM.Web.Service.BankStatOp.BankStatService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.BankStatOp.BankStatService.customBinding0"
          contract="CCWFM.Web.Service.BankStatOp.BankStatService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.BankDepositOp.BankDepositService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.BankDepositOp.BankDepositService.customBinding0"
          contract="CCWFM.Web.Service.BankDepositOp.BankDepositService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.ContractOp.ContractService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.ContractOp.ContractService.customBinding0"
          contract="CCWFM.Web.Service.ContractOp.ContractService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.AuthOp.AuthService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.AuthOp.AuthService.customBinding0"
          contract="CCWFM.Web.Service.AuthOp.AuthService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.StyleService">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.StyleService.customBinding0"
          contract="CCWFM.Web.Service.StyleService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.Service">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.Service.customBinding0"
          contract="CCWFM.Web.Service.Service" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CCWFM.Web.Service.UploadStyleImages">
        <endpoint address="" binding="customBinding" bindingConfiguration="CCWFM.Web.Service.UploadStyleImages.customBinding0"
          contract="CCWFM.Web.Service.UploadStyleImages" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Sumit.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="CCWFMTestPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
 <appSettings>
      <add key="TechPackImages" value="D:\TechPackImages\"/>
      <add key="TechPackImagesWrite" value="D:\\TechPackImages\\"/>
   </appSettings>
</configuration>